# Copy this file to terraform.tfvars and set your real values.

aws_region  = "us-east-1"
db_password = "ChangeMe123!"
image_uri   = "the link"

project_name = "deaf-lingo"

# Frontend EC2
frontend_instance_type    = "t3.micro"
frontend_enable_ssh       = false
frontend_ssh_cidr         = "YOUR.PUBLIC.IP.ADDRESS/32"
frontend_existing_key_name = ""
frontend_ssh_public_key    = ""

# Frontend artifact deploy (S3 -> EC2)
frontend_artifact_bucket_name          = ""
frontend_artifact_object_key           = "frontend/latest.zip"
frontend_artifact_bucket_force_destroy = false
frontend_auto_deploy_on_boot           = false

# Cognito
cognito_user_pool_name = "deaf-lingo-users"
cognito_domain_prefix  = "deaf-lingo-auth-unique-prefix"
cognito_callback_urls  = ["http://localhost:5173"]
cognito_logout_urls    = ["http://localhost:5173"]
