# Copy this file to terraform.tfvars and set your real values.

aws_region  = "us-east-1"
db_password = "ChangeMe123!"
image_uri   = "699938055022.dkr.ecr.us-east-1.amazonaws.com/my-leaderboard-backend:latest"
